.nav-bar {
	width: 100%;
	background-color: #f7f7f7;
	box-shadow: $base-shadow;
	.nav-bar-wrapper {
		max-width: $base-width;
		box-sizing: border-box;
		padding: 0 20px;
		margin: 0 auto;
		[role='tablist'] {
			height: 80px;
			display: flex;
			[role='tab'] {
				@include sys_font(600, 22px, 50px, 0px);
				margin-right: 2.5em;
				color: $red;
				text-decoration: none;
				line-height: 80px;
				.nav-title {
					display: flex;
					.nav-icon {
						padding-top: 10px;
					}
				}
			}
		}
		.selected {
			font-weight: 700;
			border-bottom: 4px solid $red;
		}
	}
	.nav-icon-home {
		margin-top: 3px;
	}
}
