.nav-bar {
	width: 100%;
	background-color: #f7f7f7;
	box-shadow: $base-shadow;
	.nav-bar-wrapper {
		max-width: $base-width;
		padding: 0px 20px;
		margin-left: auto;
		margin-right: auto;
		[role='tablist'] {
			height: 80px;
			[role='tab'] {
				@include sys_font(600, 22px, 50px, 0px);
				margin-right: 1.5em;
				color: $red;
			}
			[aria-selected='true'] {
				border-left: 0px solid white;
				font-weight: 700;
				border-bottom: 3px solid $red;
			}
		}
	}
	.nav-icon {
		margin-top: 3px;
	}
}
