.button {
	outline: none;
	font-family: $font-lato;
	background: $red;
	border: none;
	border-radius: 19px;
	color: $white;
	max-height: 41px;
	cursor: pointer;
	padding: 11px 23px;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	&:hover {
		background: $pink;
	}
	.btn-icon {
		margin-right: 10px;
		display: flex;
		margin-top: 2px;
	}
}

.action-btn-container {
	display: flex;
	flex-direction: row;
	color: $red;
	img{
		width: 16px;
		height: 16px;
	}
	.action-btn {
		font-family: $font-lato;
		border: none;
		background: none;
		color: $red;
		padding: 0px 5px;
		font-size: 1em;
		font-weight: 600;
		cursor: pointer;
	}
}

.green-btn {
	background: $light-green;
	color: $blue;
	&:hover {
		background: $green-hover;
	}
}

.white-btn {
	background: $white;
	border: 1px solid $blue;
	color: $blue;
	margin-right: 20px;
	&:hover {
		background: $light-grey;
	}
}
