.button {
	outline: none;
	font-family: Lato-Medium, sans-serif;
	border: none;
	border-radius: 19px;
	max-height: 38px;
	cursor: pointer;
	padding: 9px 23px;
	font-size: 0.885em;
	text-decoration: none;
	text-align: center;
	.btn-icon {
		margin-right: 10px;
		display: flex;
		margin-top: 2px;
	}
}

.primary {
	background: $red;
	color: $white;
	&:hover {
		background: $cerise-pink;
	}
}

.tertiary {
	background: none;
	border: 1px solid $dark-midnight-blue;
	color: $dark-midnight-blue;
	margin-right: 30px;
	&:hover {
		background: $light-cyan;
	}
}

.action-btn-container {
	display: flex;
	flex-direction: row;
	color: $red;
	img {
		width: 16px;
		height: 16px;
		margin-top: 4px;
	}
	.action-btn {
		font-family: $font-lato;
		border: none;
		background: none;
		color: $red;
		padding: 0px 5px;
		font-size: 1em;
		font-weight: 600;
		cursor: pointer;
	}
}
