.wrapper-checkbox {
	margin-top: 40px;
}

[data-baseweb='form-control-label'] {
	font-family: $font-lato;
}

// [data-baseweb='radio'] :nth-child(1) {
// 	background-color: $red;
// }

[data-baseweb='radio'] :nth-child(3) {
	font-family: $font-lato !important;
}
