.modal-header {
	text-align: center;
	color: $blue;
	font-size: 1.2em;
	margin-top: 0px;
	font-weight: 700;
	margin-bottom: 30px;
}
.modal-footer {
	display: flex;
	justify-content: center;
}

.confirm-text {
	font-family: $font-lato;
	font-size: 1.1em;
	font-weight: 300;
	text-align: center;
	padding-bottom: 30px;
}
