$baseWidth: 1300px;
$theme-font: Montserrat, sans-serif;
$lato-font: Lato, sans-serif;

//Colors
$themeColor-Dark: #00579b;
$themeColor-Light: #f3e2c7;
$red: #dc176c;
$pink: #f968a7;
$dark-blue: #1a3965;
$white: #ffffff;
$light-grey: #ced4da;
