.login-page {
	background-image: url('../images/formpage-bg.png');
	color: $white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.login-wrapper {
		display: flex;
		flex-direction: column;
		width: 460px;
		border-radius: 10px;
		.company-title {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: end;
			.title {
				@include sys_font(400, 24px, 1, -1px);
			}
			.sub-title {
				@include sys_font(900, 9px, 2, 2px);
			}
		}
		.login-header {
			padding: 20px 60px;
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 10px;
		}
		.login-form-wrapper {
			box-shadow: 0px 0px 11px 0px $dark-blue;
			background-color: $dark-blue;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			overflow: hidden;
			padding: 50px 70px;
			.form-title {
				font-size: 1.4em;
				font-weight: 600;
				margin: 20px 0px;
			}
			.login-form {
				width: 100%;
			}
			.login-footer {
				font-family: Lato, sans-serif;
				font-weight: 600;
				font-size: 1.1em;
				line-height: 1;
				letter-spacing: 0px;
				margin-top: 15px;
				margin-bottom: 30px;
				.link {
					margin-left: 5px;
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
}
