@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap);
@import 'theme';

body {
	margin: 0px;
	font-family: $theme-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	h1,
	h2 {
		color: $themeColor-Light;
	}
}
