//Fonts
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap);
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@import 'utilities/fonts';
//CSS normalizer
@import 'normalize/variables', 'normalize/vertical-rhythm',
	'normalize/normalize-mixins';

//Variables, mixins
@import 'utilities/variables';
@import 'utilities/mixins';

//common elements
@import 'common/common';

//Components
@import 'components/button';
@import 'components/select';
@import 'components/table';
@import 'components/modal';
@import 'components/input';
@import 'components/checkbox';
@import 'components/searchInput';
@import 'components/bullet';

//Layouts
@import 'layout/header';
@import 'layout/nav-bar';
@import 'layout/dashboard';

//Pages
@import 'pages/login';
@import 'pages/profile-overview';
@import 'pages/accounts';
@import 'pages/admin';
@import 'pages/agents';

body {
	margin: 0px;
	font-family: $theme-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
