@import '../../styles/theme';

@mixin sys_font($weight: 700, $size: 10px, $line: 1.1, $spacing: 1px) {
	font-weight: $weight;
	font-style: normal;
	font-size: $size;
	line-height: $line;
	letter-spacing: $spacing;
}

// $page-wrapper-width: 1490px;

.wrapper {
	display: grid;
	grid-template-rows: 90px 80px 1fr;
	font-family: 'Montserrat';
	height: 100vh;

	[role='rowgroup'] {
		[role='row'] {
			height: 50px;
		}
		[role='row']:nth-child(even) {
			background: #f5fafd;
		}
	}

	[role='row'] {
		[role='columnheader'] {
			background: $themeColor-Dark;
			color: white;
			border: none;
			text-transform: uppercase;
		}
	}

	[role='grid'] {
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
	}
	.header {
		width: 100%;
		background-color: rgba(0, 87, 155, 1);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
		color: white;
		.header-wrapper {
			margin-left: auto;
			margin-right: auto;
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 40px auto;
			max-width: $page-wrapper-width;
			padding-left: 20px;
			padding-right: 20px;
			.header-title {
				padding-top: 20px;
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 10px;
				.company-title {
					display: grid;
					grid-template-columns: 380px;
					.title {
						@include sys_font(400, 33px, 1, -1px);
						text-align: end;
					}
					.sub-title {
						@include sys_font(500, 9px, 1, 2px);
						text-align: end;
						// justify-items: end;
					}
				}
			}
			.user-name {
				font-family: 'Lato-Regular';
				font-size: 14px;
				color: rgba(255, 255, 255, 1);
				text-align: right;
				letter-spacing: 0.02em;
				line-height: 24px;
			}
			.user-menu {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				#link {
					margin-left: 30px;
					color: white;
				}
			}
		}
	}

	.nav-bar {
		// max-width: $page-wrapper-width;
		width: 100%;
		height: 80px;
		background-color: #f5fafd;
		border-bottom: 1px solid rgba(220, 23, 108, 0.2);
		.nav-bar-wrapper {
			max-width: $page-wrapper-width;
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			[role='tablist'] {
				height: 80px;
				border-bottom: 1px solid rgba(220, 23, 108, 0.2);
				[role='tab'] {
					@include sys_font(600, 22px, 50px, 0px);
					margin-right: 1.5em;
					color: $red-dark;
				}
				[aria-selected='true'] {
					border-left: 0px solid white;
					font-weight: 700;
					border-bottom: 3px solid $red-dark;
				}
			}
		}
	}

	.search-block {
		[data-baseweb='select']:first-child {
			border-radius: 6px;
			border: 1px solid rgba(206, 212, 218, 1);
			background-color: #fff;
		}
		[data-baseweb='icon'] {
			color: $red-dark;
		}

		[role='option'] {
			[aria-selected='true'] {
				background-color: $red-dark;
			}
		}
	}

	.pages {
		width: 100%;
		.pages-wrapper {
			margin-top: 2.5em;
			max-width: $page-wrapper-width;
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			.table-pagination {
				[aria-label='pagination'] {
					[data-baseweb='button'] {
						color: rgba(0, 87, 155, 1);
						line-height: 14px;
						font-size: 16px;
						background-color: rgba(248, 249, 250, 1);
						border-radius: 19px;
					}
				}
			}
		}
	}
}

.login-page {
	color: white;
	background-image: url('../../images/formpage-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form {
	display: flex;
	flex-direction: column;
	width: 430px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	::placeholder {
		color: #ceced6;
		font-size: 1.1em;
		font-size: 21px;
	}

	.login-form-body,
	.login-form-header {
		background-color: rgba(26, 57, 101, 1);
		border-radius: 10px;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		overflow: hidden;
		padding: 20px 60px 20px 60px;
		position: relative;
	}

	.login-form-header {
		box-shadow: none;
		background-color: transparent;
		background: none;
		padding-top: 40px;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 10px;
		.company-title {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: end;
			.title {
				@include sys_font(400, 25px, 1, -1px);
			}
			.sub-title {
				@include sys_font(700, 7px, 2, 2px);
			}
		}
	}
}

.link {
	margin-left: 5px;
	text-decoration: none;
	color: white;
}
