.wrapper {
  max-width: 1500px;  
  padding: 0 1rem;

  [role='rowgroup'] {
    [role='row']:nth-child(even) {
      background: lightgray;
    }
  }
  li {
    padding-bottom: calc(1rem - 3px);
    border-bottom: 3px solid transparent;
    margin-right: 1rem;
    &.active {
      border-bottom-color: black;
    }
  }
  .loginbox {
    flex-direction: column;
    padding: 1rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      & > * {
        margin-left: 1rem;
      }
    }
    p {
      text-align: right;
    }
  }
}