.error-wrapper {
	width: 100%;
	border: 1px solid $red;
	color: $red;
	border-radius: 5px;
	padding: 5px;
}

.error {
	margin-top: 8px;
	width: 100%;
	color: $red;
}

.center {
	display: flex;
	padding: 20px;
	justify-content: center;
}
